python-dotenv==1.0.1
groq==0.9.0
AppOpener==1.7
pywhatkit==5.4
beautifulsoup4==4.12.3
pillow==10.4.0
rich==13.8.1
requests==2.32.3
keyboard==0.13.5
cohere==5.9.2
googlesearch-python==1.2.5
selenium==4.25.0
mtranslate==1.8
pygame==2.6.1
edge-tts==6.1.12
PyQt5==5.15.11
webdriver-manager==4.0.2
